#!/usr/bin/make -f

PACKAGE := rpi-boot-alternatives
VERSION := $(shell dpkg-parsechangelog --show-field Version)
DESTDIR := debian/$(PACKAGE)

.PHONY: clean build build-arch build-indep install binary binary-arch binary-indep

clean:
	rm -rf $(DESTDIR)
	rm -f debian/files

build build-arch build-indep:
	@echo "Nothing to build."

install: build
	rm -rf $(DESTDIR)
	mkdir -p $(DESTDIR)/DEBIAN
	mkdir -p $(DESTDIR)/etc/kernel/postinst.d
	mkdir -p $(DESTDIR)/etc/initramfs/post-update.d
	mkdir -p $(DESTDIR)/usr/share/doc/$(PACKAGE)

	cp -p files/etc/rpi-boot-alternatives.conf $(DESTDIR)/etc/
	cp -p files/etc/kernel/postinst.d/z50-raspi-firmware \
		$(DESTDIR)/etc/kernel/postinst.d/
	cp -p files/etc/initramfs/post-update.d/z50-raspi-firmware \
		$(DESTDIR)/etc/initramfs/post-update.d/

	chmod 755 $(DESTDIR)/etc/kernel/postinst.d/z50-raspi-firmware
	chmod 755 $(DESTDIR)/etc/initramfs/post-update.d/z50-raspi-firmware

	cp -p debian/preinst $(DESTDIR)/DEBIAN/preinst
	cp -p debian/postrm $(DESTDIR)/DEBIAN/postrm
	chmod 755 $(DESTDIR)/DEBIAN/preinst $(DESTDIR)/DEBIAN/postrm

	printf '/etc/rpi-boot-alternatives.conf\n' > $(DESTDIR)/DEBIAN/conffiles

	cp -p LICENSE $(DESTDIR)/usr/share/doc/$(PACKAGE)/copyright
	cp -p debian/changelog $(DESTDIR)/usr/share/doc/$(PACKAGE)/changelog.Debian
	gzip -9 -n $(DESTDIR)/usr/share/doc/$(PACKAGE)/changelog.Debian

binary: binary-indep

binary-arch:
	@echo "Nothing to do for binary-arch."

binary-indep: install
	dpkg-gencontrol -p$(PACKAGE) -P$(DESTDIR)
	dpkg-deb --build --root-owner-group $(DESTDIR) $(PACKAGE)_$(VERSION)_all.deb
